@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.CachedValue</h1>
<h1>Ürün Listesi</h1>
<ul>
    @foreach (Product item in ViewBag.ProductList)
    {
        <li>@item.Name - @item.CreatedDate</li>
    }
</ul>